@charset "UTF-8";

@import "../shared/shared.less";

body
{
    margin: 50px 0 0 0;
    background-color: @background-dark;
    font-family: "roboto";
    font-weight: 400;
    font-size: 0;
    color: white;
}

a
{
    color: white;
    text-decoration: none;
}

h1,h2,h3
{
    margin: 0;
    font-weight: 400;
}

h3
{
    width: 700px;
    font-size: 15px;
    margin: 12px auto 12px auto;
}

//video entry element
.video-entry
{
    display: flex;
    align-items: center;
    width: 700px;
    margin: 12px auto 12px auto;

    img
    {
        width: 240px;
    }

    a
    {
        display: inline-block;
        transition: opacity .2s;
    }

    a:hover
    {
        opacity: .7;
    }

    //main right side info container
    .info
    {
        display: inline-block;
        width: 460px;
        vertical-align: top;
        padding: 4px 0 0 15px;
        box-sizing: border-box;

        .names
        {
            min-height: 93px;

            h1
            {
                font-size: 21px;
            }

            h2
            {
                font-size: 15px;
                margin: 13px 0 9px 0;
                opacity: 0.5;
            }
        }
    }

    //the bar element
    .bar
    {
        width: 100%;
        @bar-small-font-size: 12px;

        .now-time
        {
            font-size: @bar-small-font-size;
            margin-bottom: 2px;

            span
            {
                display: inline-block;
                width: 40px;
                margin-left: -20px;
                text-align: center;
            }
        }

        .the-bar
        {
            @bar-height: 7px;
            height: @bar-height;
            border: 1px solid white;
            border-top: none;
            margin-bottom: 3px;

            .inside //the bar
            {
                border-bottom: @bar-height solid @main-red;
            }
        }

        .full-time
        {
            position: relative;
            font-size: @bar-small-font-size;

            .red
            {
                color: @main-red;
            }

            .green
            {
                color: @main-green;
                text-decoration: underline;
            }

            .the-time
            {
                position: absolute;
                width: 40px;
                top: 0;
                right: 0;
                text-align: center;
                margin-right: -20px;
            }
        }
    }

    //overrides for a DONE'd video entry
    &.done
    {
        opacity: .5;

        .green
        {
            display: none;
        }

        .bar .full-time .red
        {
            color: @main-green;
        }

        .the-bar .inside
        {
            border-bottom-color: @main-green;
        }

        .now-time
        {
            display: none;
        }
    }
}