@charset "UTF-8";
body {
  margin: 0;
  background-color: #191919;
  font-family: "roboto";
  font-weight: 400;
  font-size: 0;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h3 {
  width: 700px;
  font-size: 15px;
  margin: 0 auto 12px auto;
}
.videos {
  margin-bottom: 50px;
}
.video-entry {
  display: flex;
  align-items: center;
  width: 700px;
  margin: 12px auto 12px auto;
}
.video-entry img {
  width: 240px;
}
.video-entry a {
  display: inline-block;
  transition: opacity 0.2s;
}
.video-entry a:hover {
  opacity: 0.7;
}
.video-entry .info {
  display: inline-block;
  width: 460px;
  vertical-align: top;
  padding: 4px 0 0 15px;
  box-sizing: border-box;
}
.video-entry .info .names {
  min-height: 93px;
}
.video-entry .info .names h1 {
  font-size: 21px;
}
.video-entry .info .names h2,
.list-link {
  font-size: 15px;
  margin: 13px 0 9px 0;
  opacity: 0.5;
}
.video-entry .bar {
  width: 100%;
}
.video-entry .bar .now-time {
  font-size: 12px;
  margin-bottom: 2px;
}
.video-entry .bar .now-time span {
  display: inline-block;
  width: 40px;
  margin-left: -20px;
  text-align: center;
}
.video-entry .bar .the-bar {
  height: 7px;
  border: 1px solid white;
  border-top: none;
  margin-bottom: 3px;
}
.video-entry .bar .the-bar .inside {
  border-bottom: 7px solid #c7344e;
}
.video-entry .bar .full-time {
  position: relative;
  font-size: 12px;
}
.video-entry .bar .full-time .red {
  color: #c7344e;
}
.video-entry .bar .full-time .green {
  color: #b4d12e;
  text-decoration: underline;
}
.video-entry .bar .full-time .the-time {
  position: absolute;
  width: 40px;
  top: 0;
  right: 0;
  text-align: center;
  margin-right: -20px;
}
.video-entry.done {
  opacity: 0.5;
}
.video-entry.done .green {
  display: none;
}
.video-entry.done .bar .full-time .red {
  color: #b4d12e;
}
.video-entry.done .the-bar .inside {
  border-bottom-color: #b4d12e;
}
.video-entry.done .now-time {
  display: none;
}
.video-entry.link-hover .double-hover {
  opacity: 0.5;
}
.logo-img {
  display: block;
  width: 50px;
  margin: 5px auto 0px auto;
}
.list-link {
  display: block;
  width: 125px;
  font-size: 15px;
  margin: auto;
  text-decoration: underline;
  font-style: italic;
}
