@charset "UTF-8";

@import "../shared/shared.less";

body
{
    margin: 0;
    background-color: @background-dark;
    color: white;
    font-size: 0;
    font-family: "roboto","arial";
}

h1,p
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: white;
}

.top-elements-shared()
{
    display: inline-block;
    vertical-align: top;
}

//info container, the whole left side
.info
{
    .top-elements-shared();
    width: 230px;

    img
    {
        width: 100%;
    }

    .info-block-holder
    {
        width: 100%;
        padding-top: 4px;

        .info-block
        {
            display: inline-block;
            width: 50%;
            height: 100%;
            text-align: center;
            vertical-align: top;

            &.date
            {
                width: 65%;
            }

            &.time
            {
                width: 35%;
            }

            h1
            {
                font-size: 8px;
                font-weight: 400;
            }

            p
            {
                font-size: 18px;
                margin-top: 12px;
            }
        }
    }

    .to-saved
    {
        font-size: 12px;
    }
}

//controls element, the whole right side
.controls
{
    display: inline-flex;
    flex-direction: column;
    height: 198px;
    width: 85px;
    text-align: center;
    background-color: @background-darker;
    transition: background-color .14s,color .14s;

    /*-- stuff for hovering --*/
    @transition-text-colour: @background-darker;

    &.save,&.done,&.to-saved
    {
        a
        {
            color: @transition-text-colour;
            opacity: .45;
        }
    }

    &.save
    {
        background-color: @main-red;

        a.save-button
        {
            color: @transition-text-colour;
            opacity: 1;
        }
    }

    &.done
    {
        background-color: @main-green;

        .done-button
        {
            color: @transition-text-colour;
            opacity: 1;
        }
    }

    &.to-saved
    {
        background-color: @main-blue;

        .to-saved
        {
            color: @transition-text-colour;
            opacity: 1;
        }
    }
    /*-- end stuff for hovering --*/

    //modifications for no-save class
    &.no-save
    {
        .done-button
        {
            display: none;
        }
    }

    .save-button
    {
        display: flex;
        font-size: 15px;
        color: @main-red;
        flex: 1;
        align-items: center;
        justify-content: center;
        transition: opacity .2s;
    }

    .done-button
    {
        .save-button();
        color: @main-green;
    }

    .to-saved
    {
        .save-button();
        color: @main-blue;
    }
}

.bad-site,.good-site
{
    width: 315px;
    display: none;

    &.show
    {
        display: block;
    }
}

.bad-site
{
    width: 80px;
    font-size: 15px;

    .to-saved2
    {
        .controls.save-button();
        height: 60px;
        text-align: center;
        color: @main-blue;
        transition: color .2s,background-color .2s;

        &:hover
        {
            color: @background-dark;
            background-color: @main-blue;
        }
    }
}