@charset "UTF-8";

@main-red: #c7344e;
@main-green: #b4d12e;
@background-dark: #191919;
@background-darker: #0d0d0d;

body
{
    width: 315px;
    margin: 0;
    background-color: @background-dark;
    color: white;
    font-size: 0;
    font-family: "roboto","arial";
}

h1,p
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: white;
}

.top-elements-shared()
{
    display: inline-block;
    vertical-align: top;
}

//info container, the whole left side
.info
{
    .top-elements-shared();
    width: 230px;

    img
    {
        width: 100%;
    }

    .info-block-holder
    {
        width: 100%;
        padding-top: 4px;

        .info-block
        {
            display: inline-block;
            width: 50%;
            height: 100%;
            text-align: center;
            vertical-align: top;

            &.date
            {
                width: 65%;
            }

            &.time
            {
                width: 35%;
            }

            h1
            {
                font-size: 8px;
                font-weight: 400;
            }

            p
            {
                font-size: 18px;
                margin-top: 10px;
            }
        }
    }

    .to-saved
    {
        font-size: 12px;
    }
}

//controls element, the whole right side
.controls
{
    .top-elements-shared();
    width: 85px;
    text-align: center;
    background-color: @background-darker;
    transition: background-color .14s,color .14s;

    /*-- stuff for hovering --*/
    @transition-text-colour: @background-darker;

    &.save
    {
        background-color: @main-red;

        .save-button
        {
            color: @transition-text-colour;
        }

        .done-button
        {
            color: @transition-text-colour;
            opacity: .45;
        }
    }

    &.done
    {
        background-color: @main-green;

        .save-button
        {
            color: @transition-text-colour;
            opacity: .45;
        }

        .done-button
        {
            color: @transition-text-colour;
        }
    }
    /*-- end stuff for hovering --*/

    //modifications for no-save class
    &.no-save
    {
        .save-button
        {
            padding: 86px 0 86px 0;
        }

        .done-button
        {
            display: none;
        }
    }

    .save-button
    {
        display: block;
        font-size: 15px;
        padding: 56px 0 55px 0;
        color: @main-red;
        transition: opacity .2s;
    }

    .done-button
    {
        .save-button();
        padding: 26px 0 25px 0;
        color: @main-green;
    }
}

.bad-site,.good-site
{
    display: none;

    &.show
    {
        display: block;
    }
}

.bad-site
{
    font-size: 15px;
}