@charset "UTF-8";
body {
  width: 315px;
  margin: 0;
  background-color: #191919;
  color: white;
  font-size: 0;
  font-family: "roboto", "arial";
}
h1,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.info {
  display: inline-block;
  vertical-align: top;
  width: 230px;
}
.info img {
  width: 100%;
  margin-bottom: 4px;
}
.info .info-block {
  text-align: right;
}
.info .info-block h1 {
  font-size: 8px;
  font-weight: 400;
}
.info .info-block p {
  font-size: 18px;
}
.controls {
  display: inline-block;
  vertical-align: top;
  width: 85px;
  text-align: center;
  transition: background-color 0.14s, color 0.14s;
  /*-- stuff for hovering --*/
  /*-- end stuff for hovering --*/
}
.controls.save {
  background-color: #c7344e;
}
.controls.save .save-button {
  color: #191919;
}
.controls.save .done-button {
  color: #191919;
  opacity: 0.5;
}
.controls.done {
  background-color: #b4d12e;
}
.controls.done .save-button {
  color: #191919;
  opacity: 0.5;
}
.controls.done .done-button {
  color: #191919;
}
.controls .save-button {
  display: block;
  font-size: 15px;
  padding: 79px 0 75px 0;
  color: #c7344e;
}
.controls .done-button {
  display: block;
  font-size: 15px;
  padding: 79px 0 75px 0;
  color: #c7344e;
  padding: 26px 0 25px 0;
  color: #b4d12e;
}
