@charset "UTF-8";
body {
  margin: 0;
  background-color: #191919;
  color: white;
  font-size: 0;
  font-family: "roboto", "arial";
}
h1,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.info {
  display: inline-block;
  vertical-align: top;
  width: 230px;
}
.info img {
  width: 100%;
}
.info .info-block-holder {
  width: 100%;
  padding-top: 4px;
}
.info .info-block-holder .info-block {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: top;
}
.info .info-block-holder .info-block.date {
  width: 65%;
}
.info .info-block-holder .info-block.time {
  width: 35%;
}
.info .info-block-holder .info-block h1 {
  font-size: 8px;
  font-weight: 400;
}
.info .info-block-holder .info-block p {
  font-size: 18px;
  margin-top: 12px;
}
.info .to-saved {
  font-size: 12px;
}
.controls {
  display: inline-flex;
  flex-direction: column;
  height: 198px;
  width: 85px;
  text-align: center;
  background-color: #0d0d0d;
  transition: background-color 0.14s, color 0.14s;
  /*-- stuff for hovering --*/
  /*-- end stuff for hovering --*/
}
.controls.save a,
.controls.done a,
.controls.to-saved a {
  color: #0d0d0d;
  opacity: 0.45;
}
.controls.save {
  background-color: #c7344e;
}
.controls.save a.save-button {
  color: #0d0d0d;
  opacity: 1;
}
.controls.done {
  background-color: #b4d12e;
}
.controls.done .done-button {
  color: #0d0d0d;
  opacity: 1;
}
.controls.to-saved {
  background-color: #1f7fa7;
}
.controls.to-saved .to-saved {
  color: #0d0d0d;
  opacity: 1;
}
.controls.no-save .done-button {
  display: none;
}
.controls .save-button {
  display: flex;
  font-size: 15px;
  color: #c7344e;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}
.controls .done-button {
  display: flex;
  font-size: 15px;
  color: #c7344e;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  color: #b4d12e;
}
.controls .to-saved {
  display: flex;
  font-size: 15px;
  color: #c7344e;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  color: #1f7fa7;
}
.bad-site,
.good-site {
  width: 315px;
  display: none;
}
.bad-site.show,
.good-site.show {
  display: block;
}
.bad-site {
  width: 80px;
  font-size: 15px;
}
.bad-site .to-saved2 {
  display: flex;
  font-size: 15px;
  color: #c7344e;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  height: 60px;
  text-align: center;
  color: #1f7fa7;
  transition: color 0.2s, background-color 0.2s;
}
.bad-site .to-saved2:hover {
  color: #191919;
  background-color: #1f7fa7;
}
